html {
	font-family: Raleway, Arial, Helvetica, sans-serif;
}

main {
	text-align: center;
	padding-top: 10px;
}

form {
	padding-bottom: 20px;
}

@keyframes correct {
	from {color: green;}
	to {color: red;}
}

@keyframes incorrect {
	from {color: red;}
	to {color: green;}
}

#result {
	animation-name: correct;
	animation-duration: 2s;
}