html {
	font-family: Raleway, Arial, Helvetica, sans-serif;
}

main {
	text-align: center;
	padding-top: 10px;
}

form {
	padding-bottom: 20px;
}

@keyframes updateResult {
	from {transform: scale(1.2);}
	to {transform: scale(1.0);}
}

#result {
	animation: updateResult 0.5s;
	animation-timing-function: ease-out;
}